@font-face {
    font-family: 'fontetexto';
    src: url('../fontes/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

.Foto{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
    font-family: 'fontetexto';
}

.Foto_redes_imagens{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 10%;
}

#foto{
    width: 100%;
    border-radius: 300px;
}

.Nome_descricao{
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'fontetexto';
    text-align: center;
    margin-top: 10%;

}

.Nome_descricao h1{
    font-family: 'fontetexto';
    font-weight: 800;
}

.Nome_descricao p{
    text-align: center;
    font-size: 20px;
    margin-top: -7px;
    font-weight: 900;
}

.Verificado{
    width: 2%;
    margin-top: 10%;
}

.resumo{
    width: 100%;
    background: #6F90FF;
    font-size: 19px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 23px;
    text-align: left;
    border-radius: 20px;
    color: white;
}

.quemsomos{
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 35%;
    margin-left: 10%;
}

.quemsomos h1{
    text-align: center;
    font-size: 25px;
    padding-top: 15%;
    font-weight: 600;
    color: #6F90FF;
}

#imagem_fundo{
    width: 40%;
    background-image: url(../imagens/Rectangle\ 593.png);
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 20px;
}

@media (max-width: 480px) {
    .Foto{
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;
    }

    .Foto_redes_imagens{
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-left: 5%;
    }

    #imagem_fundo{
        width: 90%;
        background-image: url(../imagens/Rectangle\ 593.png);
        display: flex;
        flex-direction: row;
        background-repeat: no-repeat;
        margin-top: 5%;
        margin-left: 5%;
        border-radius: 20px;
    }

    .quemsomos{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
    }
}