.modal-overlay {
  width: 25%;
  background: #ff000000;
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 10rem;
  right: 0;
  left: 75%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

h2{
  text-align: center;
}

.modal-content {
  width: 90%;
  max-width: 500px;
  background-color:#6610f2;
  padding: 10px;
  border-radius: 5px;
}

.bttn-header{
  width: auto;  
  background-color: #6610f2;
  color: aliceblue;
  padding: 5px;
}
 .bttn-header:hover{
  width: auto;  
  background-color: rgb(231, 116, 15);
  }

.bttn{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  width: auto;
  display: flex;
  justify-content: space-around;
  width: 30%;
  background-color: rgba(232, 82, 7, 0.994);
  border: 0;
  border-radius: 5px;

}

input{
  background-color: rgb(255, 255, 255);
  border: 0;
  padding: 0 ;
}